.importante {
    background-color: #333;
    color: #777;
}
.etiqueta {
    display: block;
}
.tooltip {
    display: none;
    color: #333;
    background: #ccc;
}
input:focus + .tooltip {
    display: block;
    position: absolute;
}
.visible {
    display: block;
}
.hidden {
    display: none;
    ;
}
a.tab {
    background: #333;
    color: #ccc;
    padding: 1em 0.5em;
    display: inline-block;
}
a.selected, a.tab:focus {
    background: #ccc;
    color: #333;
    border: 1px solid #333;
    border-bottom: 0;
    position: relative;
}
a.tab:focus {
    background: #eee;
}
ul.tablist li {
    display: inline-block;
    list-style: none;
}
div.tabpanel {
    margin-top: 0;
    padding: 1.5em;
    border: 1px solid #333;
}
div.tabpanel:focus {
    background: #eee;
}
