body {
    margin: 0 auto;
    font-size: 16px;
    max-width: 1024px;
}
article {
    background-color: blue;
    padding: 1em;
    width: 70%;
    float: left;
    box-sizing: border-box;
}
aside {
    background-color: red;
    padding: 1em;
    width: 30%;
    float: right;
    box-sizing: border-box;
}
.fluid-image {
  
}
